---
---
<header>
	<img src="/public/logo.svg" alt="">
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/headphones">Headphones</a></li>
			<li><a href="/speakers">Speakers</a></li>
			<li><a href="/earphones">Earphones</a></li>
		</ul>
	</nav>
</header>